# Node
node_modules/

# Expo
.expo/

# Android
/android/build/
/android/app/build/
/android/app/.cxx/
/android/local.properties
/android/.gradle/

# Archivos del sistema y logs
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db